<main>
  <h1>Welcome to Patternfly Angular + Web Component Storybook</h1>
  <p>Patternfly Angular + Web Component Storybook is a UI component dev environment for your Angular components.</p>
  <p>
    <br/> A story is a single state of one or more UI components. Stories provide a visual test case demonstrating various
    component use cases and component interactions.
  </p>
  <p>
    Usually we create stories with smaller UI components in the app. Have a look at the <a href="https://storybook.js.org/basics/writing-stories"
      target="_blank" rel="noopener noreferrer">
        Writing Stories
      </a> section in our documentation.
  </p>
  <p class="note">
    <b>NOTE:</b>
    <br /> You can modify <span class="inline-code">storybook/webpack.config.js</span> to add webpack loaders and plugins
    you are using in this project.
  </p>
</main>