:host > div {
  color: #37a0ce;
}

:host:not(:defined) {
  /* Pre-style, give layout, replicate app-drawer's eventual styles, etc.
   * https://skatejs.gitbooks.io/skatejs/content/docs/recipes/preventing-FOUC.html
  */
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
